.booking-container {
    margin-bottom: 5%;
}

.contact-form {
    width: 50%;
}

.form-label {
    color: white;
}

#contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}